.bg{
  -fx-background-color: #242526;
}

.buttons1{
 -fx-background-color: #a4508b;
}

.buttons1:hover{
   -fx-background-color: linear-gradient(#46B5D1, #46B5D1);
    -fx-scale-y: 1.1;
}

 .table-cell:filled:selected:focused, .list-cell:filled:selected {
     -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
     -fx-text-fill: white;
 }

 .table-cell{
     -fx-background-color: #2b2b2b;
       -fx-text-fill: white;
 }