.Back{
-fx-background-color: linear-gradient(#191919, #0F0E0E)
}

.LogInButton {
    -fx-background-color: linear-gradient(#46B5D1, #46B5D1);
        -fx-text-fill: white;
        -fx-font-size: 13px;


}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('BebasNeue-Regular.ttf');
}

.text {
    -fx-font-family: "BebasNeue-Regular";
}

.signInTitle{
   -fx-font-size: 30px;
   -fx-padding: 10 10 10 10;
   -fx-text-fill: white;
}

.error{
   -fx-font-size: 15px;
   -fx-padding: 10 10 10 10;
   -fx-text-fill: white;
}

.SignIpInput {
     -fx-background-color: linear-gradient(#323232, #323232);
            -fx-text-fill: white;
            -fx-font-size: 13px;
            -fx-padding: 10 20 10 5;
}

.LogInButton:hover{
   -fx-background-color: linear-gradient(#a4508b, #a4508b);
    -fx-scale-y: 1.1;
}