.slider .track{
    -fx-background-color: linear-gradient(to left,#37d5d6,#36096d);
}

.slider .thumb {
    -fx-pref-height : 40px;
}

.bg{
  -fx-background-color: #242526;
}

.buttons1{
 -fx-background-color: #0cbaba;
}

.buttons2{
 -fx-background-color: #2b2b2b;
}